<div class="content-container">
  <h1>{{ titulo }}</h1>
  <div class="card-wrapper">
    @for (img of imagens; track img) {
    <app-card-item [imagens]="[img]"></app-card-item>
    }
  </div>
</div>

<div class="content-container">
  <div class="card-wrapper">
    @for (img of imagens; track img) {
    <app-card-item [imagens]="[img]"></app-card-item>
    }
  </div>
</div>

<div class="content-container">
  <div class="card-wrapper">
    @for (img of imagens; track img) {
    <app-card-item [imagens]="[img]"></app-card-item>
    }
  </div>
</div>
